.edit-cp-layout {
  display: flex;
  gap: 20px;
  flex: 1;
}

.edit-cp-main {
  flex: 3;
  background-color: var(--bg-card);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.edit-cp-sidebar {
  flex: 1;
}

.sidebar-card {
  background-color: var(--bg-card);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 15px;
}

.sidebar-title {
  font-size: 14px;
  color: var(--nx-accent);
  font-weight: 600;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--nx-border);
  padding-bottom: 10px;
}

.log-item {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 12px;
  color: var(--text-muted);
}

.log-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.log-content strong {
  color: var(--text-main);
}



.editable-field-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.field-label {
  font-size: 12px;
  color: var(--nx-text-muted);
  margin-bottom: 5px;
}

.field-value-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--nx-border);
  padding-bottom: 5px;
}

.field-value {
  font-size: 13px;
  color: var(--text-main);
  min-height: 20px;
  flex: 1;
}

.field-input {
  flex: 1;
  border: 1px solid var(--nx-border);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 13px;
  outline: none;
}

.field-input:focus {
  border-color: var(--nx-accent);
}

.edit-icon-btn {
  background: none;
  border: 1px solid var(--nx-border);
  border-radius: 4px;
  cursor: pointer;
  color: var(--nx-text-muted);
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--nx-bg-app);
}

.edit-icon-btn:hover {
  background-color: var(--nx-bg-hover);
}

.cp-details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
}

.section-divider {
  grid-column: 1 / -1;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 600;
  color: var(--text-main);
  border-bottom: 1px solid var(--nx-border);
  padding-bottom: 10px;
}

.save-icon {
  color: var(--nx-success);
}